<div class="addConnection" [ngClass]="{'show': show}">
    <div class="title">
        <h2>Add Connection</h2>
    </div>
    <div class="form">
        <label for="host">
            <h3>Host<span class="red">*</span></h3>
            <input type="text" name="host" #host placeholder="example: localhost" autocomplete="off">
        </label>
        <label for="port">
            <h3>Port<span class="red">*</span></h3>
            <input type="text" name="port" #port placeholder="example: 3306" autocomplete="off">
        </label>
        <label for="user">
            <h3>User<span class="red">*</span></h3>
            <input type="text" name="user" #user placeholder="example: root" autocomplete="off">
        </label>
        <label for="password">
            <h3>Password<span class="red">*</span></h3>
            <input type="password" name="password" #password autocomplete="off">
        </label>
        <label for="database">
            <h3>Database</h3>
            <input type="text" name="database" #database placeholder="example: test" autocomplete="off">
        </label>
    </div>
    <div class="btn-flex">
        <button class="btn-submit" (click)="getValue({
            host: host.value,
            port: port.value,
            user: user.value,
            password: password.value,
            database: database.value
        })">
            Add Connection
        </button>
        <button class="btn-exit" (click)="hideComponent()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</div>