<div class="addConnection">
    <label for="host">
        <h3>Host<span class="red">*</span></h3>
        <input type="text" name="host" #host placeholder="example: localhost">
    </label>
    <label for="port">
        <h3>Port<span class="red">*</span></h3>
        <input type="text" name="port" #port placeholder="example: 3306">
    </label>
    <label for="user">
        <h3>User<span class="red">*</span></h3>
        <input type="text" name="user" #user placeholder="example: root">
    </label>
    <label for="password">
        <h3>Password<span class="red">*</span></h3>
        <input type="password" name="password" #password>
    </label>
    <label for="database">
        <h3>Database</h3>
        <input type="text" name="database" #database placeholder="example: test">
    </label>
    <button class="btn-submit" (click)="getValue({
        host: host.value,
        port: port.value,
        user: user.value,
        password: password.value,
        database: database.value
    })">
        Add Connection
    </button>
</div>