<ng-container *ngIf="connections">
  <app-edit-connection [connection]="{
    host: connections.host,
    port: connections.port,
    database: connections.database,
    user: connections.user
  }" [show]="showEditComponent" (hide)="hideEditComponentHandler()"></app-edit-connection>
  <div class="content">
    <h1>{{ connections.host }}:{{ connections.port }}</h1>
    <h2>
      <span class="tag-user">User:</span> {{ connections.user }}
      <br />
      <ng-container *ngIf="connections.database !== ''">
        <span class="tag-db">DB:</span> {{ connections.database }}
      </ng-container>
    </h2>
    <div class="control">
      <button class="delete" (click)="deleteConnection({
        host: connections.host,
        port: connections.port,
        user: connections.user,
        database: connections.database
      })"><i class="fas fa-trash"></i></button>
      <button class="edit" (click)="showEditComponentHandler()"><i class="fas fa-pencil"></i></button>
      <button class="connect"><i class="fa-solid fa-right-to-bracket"></i></button>
    </div>
  </div>
</ng-container>
