<header class="head-app">
    <h1>
        <span [ngClass]="{'white': colorChange}">Ang</span>
        <span [ngClass]="{'focus': !colorChange}">SQL</span> 
        Manager
    </h1>
    <h2>Connections</h2>
    <button class="btn-add-component" (click)="showAddComponentHandler()">Create New Connection</button>
</header>
<main class="content">
    <app-add-connection [show]="shareService.variable"></app-add-connection>
    <ng-container *ngIf="data === null; else elseBlock">
        <div class="empity">
            <h2>No connections created</h2>
        </div>
    </ng-container>
    <ng-template #elseBlock>
        <div class="grid">
            <app-connections-list class="conencts" *ngFor="let connects of data" [connections]="connects">
            </app-connections-list>
        </div>
    </ng-template>
</main>